.navbar .center .logo{color:#fff;}

/*-- top-search --*/
.top-search {background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23FFFFFF'%20height%3D'2…z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");-webkit-background-size: 24px 24px;background-size: 24px 24px;width:36px; height:36px;display: inline-block;}